#Challenge 2 - Esports Tournament

The top eSports competitors from across the globe have gathered to battle it out
Can you analyse the following data to find out all about the tournament?

Created by Yogeshvar M (https://www.linkedin.com/in/yogeshvar-mugilvannan-70653a200/)

I used both SQL Query and PySpark to understand PySpark well by solving this challenge. Thanks to @Steel Data and @Matthew Steel for sharing this challenge. If you are new to PySpark you can understand and learn in this following created by me 

Understanding Why Hadoop? :https://www.linkedin.com/posts/yogeshvar-mugilvannan-70653a200_big-data-activity-7077626456591265793-0ecj?utm_source=share&utm_medium=member_desktop 

Why Spark? :https://www.linkedin.com/posts/yogeshvar-mugilvannan-70653a200_spark-activity-7077987664511078400-m2NI?utm_source=share&utm_medium=member_desktop .

PySpark:https://www.linkedin.com/feed/update/urn:li:activity:7079040783059718144/

Link to Challenge: https://steeldata.org.uk/sql2.html

#Reading CSV (teams,players,matches) as Dataframe

In [0]:
ls dbfs:/FileStore/shared_uploads/yogeshvarer@gmail.com/

path,name,size,modificationTime
dbfs:/FileStore/shared_uploads/yogeshvarer@gmail.com/matches.csv,matches.csv,331,1687630305000
dbfs:/FileStore/shared_uploads/yogeshvarer@gmail.com/players.csv,players.csv,427,1687630303000
dbfs:/FileStore/shared_uploads/yogeshvarer@gmail.com/teams.csv,teams.csv,147,1687630302000

In [0]:
teams=spark.read.csv("dbfs:/FileStore/shared_uploads/yogeshvarer@gmail.com/teams.csv",inferSchema=True,header=True)
players=spark.read.csv("dbfs:/FileStore/shared_uploads/yogeshvarer@gmail.com/players.csv",inferSchema=True,header=True)
matches=spark.read.csv("dbfs:/FileStore/shared_uploads/yogeshvarer@gmail.com/matches.csv",inferSchema=True,header=True)

In [0]:
teams.show()

+-------+-------------+-----------+----------+
|team_id|    team_name|    country|captain_id|
+-------+-------------+-----------+----------+
|      1|       Cloud9|        USA|         1|
|      2|       Fnatic|     Sweden|         2|
|      3|SK Telecom T1|South Korea|         3|
|      4|  Team Liquid|        USA|         4|
|      5|   G2 Esports|      Spain|         5|
+-------+-------------+-----------+----------+

In [0]:
players.show()

+---------+-----------+-------+---------+------+
|player_id|player_name|team_id|     role|salary|
+---------+-----------+-------+---------+------+
|        1|     Shroud|      1|   Rifler|100000|
|        2|         JW|      2|      AWP| 90000|
|        3|      Faker|      3|Mid laner|120000|
|        4|   Stewie2k|      4|   Rifler| 95000|
|        5|      Perkz|      5|Mid laner|110000|
|        6|   Castle09|      1|      AWP|120000|
|        7|       Pike|      2|Mid Laner| 70000|
|        8|      Daron|      3|   Rifler|125000|
|        9|      Felix|      4|Mid Laner| 95000|
|       10|      Stadz|      5|   Rifler| 98000|
|       11|       KL34|      1|Mid Laner| 83000|
|       12|     ForceZ|      2|   Rifler|130000|
|       13|      Joker|      3|      AWP|128000|
|       14|       Hari|      4|      AWP| 90000|
|       15|    Wringer|      5|Mid laner|105000|
+---------+-----------+-------+---------+------+

In [0]:
matches.show()

+--------+--------+--------+----------+---------+-----------+-----------+
|match_id|team1_id|team2_id|match_date|winner_id|score_team1|score_team2|
+--------+--------+--------+----------+---------+-----------+-----------+
|       1|       1|       2|2022-01-01|        1|         16|         14|
|       2|       3|       5|2022-02-01|        3|         14|          9|
|       3|       4|       1|2022-03-01|        1|         17|         13|
|       4|       2|       5|2022-04-01|        5|         13|         12|
|       5|       3|       4|2022-05-01|        3|         16|         10|
|       6|       1|       3|2022-02-01|        3|         13|         17|
|       7|       2|       4|2022-03-01|        2|         12|          9|
|       8|       5|       1|2022-04-01|        1|         11|         15|
|       9|       2|       3|2022-05-01|        3|          9|         10|
|      10|       4|       5|2022-01-01|        4|         13|         10|
+--------+--------+--------+----------+---------+-----------+-----------+

#Importing Libraries

In [0]:
from pyspark.sql.functions import *

#Solving the Challenge

#1. What are the names of the players whose salary is greater than 100,000?

Using PySpark

In [0]:
q1=players.filter(players['salary']>100000)
q1.show()

+---------+-----------+-------+---------+------+
|player_id|player_name|team_id|     role|salary|
+---------+-----------+-------+---------+------+
|        3|      Faker|      3|Mid laner|120000|
|        5|      Perkz|      5|Mid laner|110000|
|        6|   Castle09|      1|      AWP|120000|
|        8|      Daron|      3|   Rifler|125000|
|       12|     ForceZ|      2|   Rifler|130000|
|       13|      Joker|      3|      AWP|128000|
|       15|    Wringer|      5|Mid laner|105000|
+---------+-----------+-------+---------+------+

Using SQL Query

In [0]:
teams.createOrReplaceTempView("teams")
players.createOrReplaceTempView("players")
matches.createOrReplaceTempView("matches")

In [0]:
q1_sql=spark.sql("Select * from players Where salary>100000")
q1_sql.show()

+---------+-----------+-------+---------+------+
|player_id|player_name|team_id|     role|salary|
+---------+-----------+-------+---------+------+
|        3|      Faker|      3|Mid laner|120000|
|        5|      Perkz|      5|Mid laner|110000|
|        6|   Castle09|      1|      AWP|120000|
|        8|      Daron|      3|   Rifler|125000|
|       12|     ForceZ|      2|   Rifler|130000|
|       13|      Joker|      3|      AWP|128000|
|       15|    Wringer|      5|Mid laner|105000|
+---------+-----------+-------+---------+------+

#2. What is the team name of the player with player_id = 3?

Using PySpark

In [0]:
team_id=players.filter(players['player_id']==3).select(players['team_id'])
q2=teams.join(team_id,team_id.team_id==teams.team_id).select(teams['team_name'])
q2.show()

+-------------+
|    team_name|
+-------------+
|SK Telecom T1|
+-------------+

Using SQL Query

In [0]:
q2_sql=spark.sql("Select team_name from teams where team_id=(Select team_id from players where player_id=3)")
q2_sql.show()

+-------------+
|    team_name|
+-------------+
|SK Telecom T1|
+-------------+

#3. What is the total number of players in each team?

Using PySpark

In [0]:
q3=players.groupBy(players['team_id']).agg(count(players['player_id']).alias("Total_Players_in_Team")).select(players['team_id'],"Total_Players_in_Team")
q3.show()

+-------+---------------------+
|team_id|Total_Players_in_Team|
+-------+---------------------+
|      1|                    3|
|      3|                    3|
|      5|                    3|
|      4|                    3|
|      2|                    3|
+-------+---------------------+

Using SQL Query

In [0]:
q3_sql=spark.sql("Select team_id,Count(player_id) as Total_Players_in_Team from players group by team_id")
q3_sql.show()

+-------+---------------------+
|team_id|Total_Players_in_Team|
+-------+---------------------+
|      1|                    3|
|      3|                    3|
|      5|                    3|
|      4|                    3|
|      2|                    3|
+-------+---------------------+

#4. What is the team name and captain name of the team with team_id = 2?

Using PySpark

In [0]:
q4=teams.join(players,teams.captain_id==players.player_id).filter(teams['team_id']==3).select(teams['team_name'],players['player_name'])
q4.show()

+-------------+-----------+
|    team_name|player_name|
+-------------+-----------+
|SK Telecom T1|      Faker|
+-------------+-----------+

Using SQL Query

In [0]:
q4_sql=spark.sql("Select teams.team_name,players.player_name from teams join players on teams.captain_id=players.player_id where teams.team_id=3 ")
q4_sql.show()

+-------------+-----------+
|    team_name|player_name|
+-------------+-----------+
|SK Telecom T1|      Faker|
+-------------+-----------+

#5. What are the player names and their roles in the team with team_id = 1?

Using PySpark

In [0]:
q5=teams.join(players,players.team_id==teams.team_id).filter(teams['team_id']==1).select(players['player_name'],players['role'])
q5.show()

+-----------+---------+
|player_name|     role|
+-----------+---------+
|     Shroud|   Rifler|
|   Castle09|      AWP|
|       KL34|Mid Laner|
+-----------+---------+

Using SQL Query

In [0]:
q5_sql=spark.sql("Select players.player_name,players.role from teams join players on teams.team_id=players.team_id where teams.team_id=1")
q5_sql.show()

+-----------+---------+
|player_name|     role|
+-----------+---------+
|     Shroud|   Rifler|
|   Castle09|      AWP|
|       KL34|Mid Laner|
+-----------+---------+

#6. What are the team names and the number of matches they have won?

Using PySpark

In [0]:
sub=matches.groupBy(matches['winner_id'].alias("winner")).agg(count(matches['match_id']).alias('Count_of_Matches')).select('winner','Count_of_Matches')
q6=teams.join(sub,sub.winner==teams.team_id).select(teams.team_name,sub.Count_of_Matches)
q6.show()

+-------------+----------------+
|    team_name|Count_of_Matches|
+-------------+----------------+
|       Cloud9|               3|
|SK Telecom T1|               4|
|   G2 Esports|               1|
|  Team Liquid|               1|
|       Fnatic|               1|
+-------------+----------------+

Using SQL Query

In [0]:
q6_sql=spark.sql("Select teams.team_name,sub.Count_of_Matches from teams join (Select matches.winner_id as winner,Count(matches.match_id) as Count_of_Matches from matches group by matches.winner_id) as sub on teams.team_id=sub.winner")
q6_sql.show()

+-------------+----------------+
|    team_name|Count_of_Matches|
+-------------+----------------+
|       Cloud9|               3|
|SK Telecom T1|               4|
|   G2 Esports|               1|
|  Team Liquid|               1|
|       Fnatic|               1|
+-------------+----------------+

#7. What is the average salary of players in the teams with country 'USA'?

Using PySpark

In [0]:
sub=teams.filter(teams['country']=='USA').select(teams['team_id'])
q7=players.join(sub,sub.team_id==players.team_id).agg(avg(players['Salary']).alias('Average_Salary')).select('Average_Salary')
q7.show()

+-----------------+
|   Average_Salary|
+-----------------+
|97166.66666666667|
+-----------------+

Using SQL Query

In [0]:
q7_sql=spark.sql("Select avg(salary) as Average_Salary from players join (Select team_id from teams where country='USA') as sub on players.team_id=sub.team_id ")
q7_sql.show()

+-----------------+
|   Average_Salary|
+-----------------+
|97166.66666666667|
+-----------------+

#8. Which team won the most matches?

Using PySpark

In [0]:
sub=matches.groupBy(matches['winner_id'].alias("winner")).agg(count(matches['match_id']).alias('Count_of_Matches')).orderBy(desc('Count_of_Matches')).select('winner','Count_of_Matches').limit(1)
q8=teams.join(sub,sub.winner==teams.team_id).select(teams.team_name,sub.Count_of_Matches)
q8.show()

+-------------+----------------+
|    team_name|Count_of_Matches|
+-------------+----------------+
|SK Telecom T1|               4|
+-------------+----------------+

Using SQL Query

In [0]:
q8_sql=spark.sql("Select teams.team_name,sub.Count_of_Matches from teams join (Select matches.winner_id as winner,Count(matches.match_id) as Count_of_Matches from matches group by matches.winner_id order by Count_of_Matches desc limit 1) as sub on sub.winner=teams.team_id")
q8_sql.show()

+-------------+----------------+
|    team_name|Count_of_Matches|
+-------------+----------------+
|SK Telecom T1|               4|
+-------------+----------------+

#9. What are the team names and the number of players in each team whose salary is greater than 100,000?

Using PySpark

In [0]:
sub=players.filter(players['salary']>=100000).groupBy(players['team_id']).agg(count(players['player_id']).alias('Players_with_salary_gt_100000')).select(players['team_id'],'Players_with_salary_gt_100000')
q9=teams.join(sub,sub.team_id==teams.team_id).select(teams['team_name'],sub['Players_with_salary_gt_100000'])
q9.show()

+-------------+-----------------------------+
|    team_name|Players_with_salary_gt_100000|
+-------------+-----------------------------+
|       Cloud9|                            2|
|SK Telecom T1|                            3|
|   G2 Esports|                            2|
|       Fnatic|                            1|
+-------------+-----------------------------+

Using SQL Query

In [0]:
q9_sql=spark.sql("Select teams.team_name,sub.Players_with_salary_gt_100000 from teams join (Select team_id,count(player_id) as Players_with_salary_gt_100000 from players where salary>=100000 group by team_id)as sub on sub.team_id=teams.team_id")
q9_sql.show()

+-------------+-----------------------------+
|    team_name|Players_with_salary_gt_100000|
+-------------+-----------------------------+
|       Cloud9|                            2|
|SK Telecom T1|                            3|
|   G2 Esports|                            2|
|       Fnatic|                            1|
+-------------+-----------------------------+

#10. What is the date and the score of the match with match_id = 3?

Using PySpark

In [0]:
q10=matches.filter(matches['match_id']==3).select(matches['match_date'],matches['score_team1'],matches['score_team2'])
q10.show()

+----------+-----------+-----------+
|match_date|score_team1|score_team2|
+----------+-----------+-----------+
|2022-03-01|         17|         13|
+----------+-----------+-----------+

Using SQL Query

In [0]:
q10_sql=spark.sql("Select match_date,score_team1,score_team2 from matches where match_id=3")
q10_sql.show()

+----------+-----------+-----------+
|match_date|score_team1|score_team2|
+----------+-----------+-----------+
|2022-03-01|         17|         13|
+----------+-----------+-----------+